._tag {
  margin: 4px 6px;
}

.category {
  font-size: 30px;
  margin: 8px 4px 8px 6px;
  border-left: 8px solid #3d98ff;
  padding-left: 10px;

}

.submit-buttons {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
