@font-face {font-family: "iconfont";
  src: url('iconfont.woff?t=1554536318957') format('woff'),
  url('iconfont.svg?t=1554536318957#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-shang:before {
  content: "\e600";
}

.iconfont-guanyu:before {
  content: "\e774";
}

.iconfont-nongyaohuafei:before {
  content: "\e62b";
}

.iconfont-follow:before {
  content: "\e648";
}

.iconfont-guide:before {
  content: "\e71d";
}

.iconfont-publish:before {
  content: "\e631";
}

.iconfont-tianqi:before {
  content: "\e623";
}

.iconfont-about:before {
  content: "\e63e";
}

.iconfont-chinese:before {
  content: "\e660";
}

.iconfont-draft:before {
  content: "\e60e";
}

.iconfont-dimo:before {
  content: "\e6b0";
}

.iconfont-bill:before {
  content: "\e606";
}

.iconfont-setting:before {
  content: "\e661";
}

.iconfont-browse:before {
  content: "\e640";
}

.iconfont-feiliao:before {
  content: "\e657";
}

.iconfont-suantou:before {
  content: "\e614";
}

.iconfont-suan:before {
  content: "\e60a";
}

.iconfont-suanmiao:before {
  content: "\e636";
}

.iconfont-qingsuan:before {
  content: "\e602";
}

.iconfont-edit:before {
  content: "\e628";
}

.iconfont-collection:before {
  content: "\e610";
}

.iconfont-nongyao:before {
  content: "\e7a9";
}

